html {
  background-color: rgb(24, 26, 28);
  color: rgb(194, 196, 198);
  line-height: 1.5;
  font-family: Georgia, serif;
  font-size: 20px;
  margin: auto 5% auto 5%;
}

a {
  color: rgb(145, 156, 235);
}

a:visited {
  color: rgb(145, 156, 235);
}

a:not(:hover) {
  text-decoration: none;
  font-weight: 300;
  color: rgb(145, 156, 235);
}

code {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 85%;
  margin: 0;
  white-space: pre-wrap;
  background-color: darkgray;
  color: black;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  margin: auto;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.main-content {
  margin: auto 10% auto 10%;
}

.blog-header-title {
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.resources-container {
  display: flex;
  flex-direction: column;
}

.rss-image img {
  height: 30px;
  width: 30px;
}

.blog-content img {
  height: 50vw;
  width: auto;
  display: block;
  margin: auto;
}

.nav-bar {
  height: auto;
}

.nav-items {
  display: inline-block;
  padding: 0 5px 0 5px;
  margin: auto;
}

.post-list {
  margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }

  nav a {
    display: block;
    margin: auto;
    text-align: center;
    background-color: rgb(30, 34, 40);
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px auto;
    width: 100%;
  }

  .nav-items {
    display: block;
  }

  .blog-content img {
    height: 100vw;
    width: auto;
  }

  .main-content {
    margin: auto;
  }
}