<header>
    <div>
        <h1>kosmosghost</h1>
    </div>
    <div>
        <nav>
            <div class="nav-bar">
                {{ range .Site.Menus.main }}
                {{ $text := print .Name | safeHTML }}
                <div class="nav-items"><a href="{{ .URL }}">
                        {{ $text }}
                    </a>
                    <div class="nav-items-content">
                    </div>
                </div>
                {{ end }}
            </div>
        </nav>
    </div>
</header>